.DS_Store
.kdev4
.svn
._*
~$*
*~
.*.swp
*.cmake
*.kdev4
*.exe
*.idb
*.ilk
*.lastbuildstate
*.log
*.obj
*.pdb
*.sdf
*.sln
*.suo
*.tlog
*.vcxproj.user
*.pbxuser
*.perspectivev3
*.mode1v3
*.filters
*.opensdf
*.unsuccessfulbuild
Debug
Release

Thumbs.db
stdout.txt
CMakeCache.txt
CMakeFiles
Makefile
